  <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="form-group">
      <%= f.label :commenter, 'Name' %>
      <br>
      <%= f.text_field(:commenter, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <br>
      <%= f.text_area(:body, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.submit "Post", ({:class => "btn btn-primary"})%>
    </div>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>
  <% end %>
