.row
  .col
    %h1 
      Sign up
    %hr
.row
  .col-lg-6
    .card.main-card
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!

        .form-group
          = f.label :name, "Name (First and Last)"
          %br
          = f.text_field :name, autofocus: true, class: "form-control"

        .form-group
          = f.label :email
          %br
          = f.email_field :email, autofocus: true, class: "form-control"

        .form-group
          = f.label :password
          - if @minimum_password_length
            %em
              = @minimum_password_length 
              characters minimum
          %br
          = f.password_field :password, autocomplete: "off", class: "form-control"

        .form-group
          = f.label :password_confirmation
          %br
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

        .form-group
          %p
            Write your first post!
            %em
              Optional
        
        .form-group.fields
          = f.fields_for :posts, Post.new do |ff|
            = render 'posts/form', f: ff

        .actions
          = f.submit "Sign up", class: "btn btn-success"

      = render "devise/shared/links"
