= form_for @post do |f|
  .form-group
    = f.label :title
    %br
    = f.text_field(:title, {:class => "form-control"})
  .form-group
    = f.label :body
    %br
    = f.text_area(:body, {:class => "form-control post-body"})
  .form-group
    = f.file_field(:post_image)
  .form-group
    = f.submit "Publish", ({:class => "btn btn-success"})
  - if @post.errors.any?
    - @post.errors.full_messages.each do |msg|
      .alert.alert-danger
        = msg
  
