.row
  %h1 
    Add a post
.row
  = form_for @post do |f|
    = render "form", f: f
    .form-group
      = f.submit "Publish", ({:class => "btn btn-success"})
    - if @post.errors.any?
      - @post.errors.full_messages.each do |msg|
        .alert.alert-danger
          = msg
  = link_to "Back", post_path


