<div class="row">
  <h1><%= @post.title %></h1>
</div>
<hr>
<div class="row">
  <div class="col-lg-8">
    <%= @post.body %>
  </div>
  <div class="col-lg-4">
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
        <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure???" } , class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <h2 class="comment-heading">Leave a comment</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-10">
    <%= render 'comments/form' %>
  </div>
</div>
<div class="row">
  <%= render partial: 'comments/comment', collection: @post.comments %>
</div>