.row
  %h1 
    = @post.title
%hr
.row
  .col-lg-8
    .card.post-card
      = @post.body
      - if image?(@post)
        = image_tag @post.post_image.url(:post_show), class: "post-image"
  .col-lg-4
    - if user_signed_in?
      - if belongs_to_user?(@post)
        = link_to "Edit", edit_post_path(@post), class: "btn btn-warning"
        = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure???" } , class: "btn btn-danger"
      - if admin?(@post)
        = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure???" } , class: "btn btn-danger"

.row
  .col-lg-10
    %h2.comment-heading
      Leave a comment
%hr
.row
  .col-lg-10
    = render "comments/form"
.row
  = render partial: 'comments/comment', collection: @post.comments
